{% extends '0. base.html' %}
{% block content %}
    <table>
        <tr>
            <th>Campaign Title</th>
            <th>Campaign Notes</th>
            <th>Created by</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        {% for campaign in campaigns %}
            <tr data-href="{% url 'participants-list' %}?id={{ campaign.campaign_id }}">
                <td title="{{ campaign.name }}">{{ campaign.name|truncatechars:40 }}</td>
                <td title="{{ campaign.notes }}">{% if campaign.notes|length == 0 %}-{% else %}{{ campaign.notes|truncatechars:20 }}{% endif %}</td>
                <td>{{ campaign.creator_email }}</td>
                <td>{{ campaign.participant_count }}</td>
                <td>
                    <a title="Download campaign details as a JSON file" class="action_button_green" href="{% url 'get-configs' %}?campaign_id={{ campaign.id }}&edit">DOWNLOAD</a>
                    <a class="action_button_green" href="{% url 'campaign-editor' %}?campaign_id={{ campaign.id }}">EDIT</a>
                    <a class="action_button_red" href="{% url 'delete-campaign' %}?campaign_id={{ campaign.id }}">DELETE</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a id="add_campaign_button" href="{% url 'campaign-editor' %}">Create a new campaign</a>

    <script>
        {# for handling campaign row clicks #}
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>

    <style>
        table {
            color: #333;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
            transition: all 0.3s; /* Simple transition for hover effect */
        }

        th {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px 0;
        }

        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        tr:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        #add_campaign_button {
            background: #2ecc71;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            float: right;
            font-weight: 800;
            font-size: larger;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
        }

        #add_campaign_button:hover {
            background: #666;
            color: #FFF;
        }

        a.action_button_green {
            background: #2ecc71;
            padding: 4px;
            margin: 7px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
        }

        a.action_button_red {
            background: orangered;
            padding: 3px;
            margin: 7px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
        }

        a.action_button_green:hover, a.action_button_red:hover {
            background: yellow;
            color: black;
        }
    </style>
{% endblock %}