{% extends 'base.html' %}
{% block content %}
    <form id="monitor-form" action="{% url 'easytrack-monitor' %}" method="get">
        <input type="number" name="campaign_id" value="{{ campaign.id }}" hidden>
        <label for="data_source_name">
            Participant
            <select name="email" form="monitor-form">
                {% for participant in participants %}
                    <option value="{{ participant.email }}" {% if forloop.counter == 1 %}selected{% endif %}>{{ participant.name }} ({{ participant.email }})</option>
                {% endfor %}
            </select>
        </label>
        &nbsp;
        <label for="data_source_name">
            Data source
            <select name="data_source_name" form="monitor-form">
                <option value="all" {% if plot_data_source.name == 'all' %}selected{% endif %}>All campaign data sources combined</option>
                {% for data_source in all_data_sources %}
                    <option value="{{ data_source.name }}" {% if plot_data_source.name == data_source.name %}selected{% endif %}>{{ data_source.name }}</option>
                {% endfor %}
            </select>
        </label>
        &nbsp;
        <label for="plot_date">
            Date
            <input type="date" name="plot_date" value="{{ plot_date.year }}-{{ plot_date.month }}-{{ plot_date.day }}">
        </label>
        &nbsp;
        <input type="submit" value="Plot">
    </form>
    <h2>DQ_completeness plots for - {{ plot_data_source.name }}</h2>
    {{ plot_data_source.plot|safe }}
{% endblock %}