{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th>Campaign title</th>
            <th>Campaign notes</th>
            <th>Creator / campaigner</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        {% load humanize staticfiles %}
        {% for campaign in campaigns %}
            <tr>
                <td title="{{ campaign.name }}" data-href="{% url 'participants-list' %}?id={{ campaign.campaign_id }}">{{ campaign.name|truncatechars:40 }}</td>
                <td title="{{ campaign.notes }}" data-href="{% url 'participants-list' %}?id={{ campaign.campaign_id }}">{% if campaign.notes|length == 0 %}-{% else %}{{ campaign.notes|truncatechars:20 }}{% endif %}</td>
                <td data-href="{% url 'participants-list' %}?id={{ campaign.campaign_id }}">{{ campaign.creator_email }}</td>
                <td data-href="{% url 'participants-list' %}?id={{ campaign.campaign_id }}">{{ campaign.participant_count|intcomma }}</td>
                <td>
                    <a title="Edit campaign details" href="{% url 'campaign-editor' %}?campaign_id={{ campaign.campaign_id }}&edit">
                        <img class="action_button_green" src="{% static 'edit_icon.png' %}" alt="download">
                    </a>
                    <a title="View dataset's technical configurations" href="{% url 'dataset-info' %}?campaign_id={{ campaign.campaign_id }}">
                        <img class="action_button_green" src="{% static 'info_icon.png' %}" alt="download">
                    </a>
                    <a title="Download your complete dataset at this state" href="{% url 'download-dataset' %}?campaign_id={{ campaign.campaign_id }}">
                        <img class="action_button_green" src="{% static 'download_icon.png' %}" alt="download">
                    </a>
                    <a title="!!! Delete the campaign (including the data)" id="delete_campaign_{{ campaign.campaign_id }}_button" href="#" onclick="deleteCampaignClick(this.id);" data-href="{% url 'delete-campaign' %}?campaign_id={{ campaign.campaign_id }}">
                        <img class="action_button_red" src="{% static 'delete_icon.png' %}" alt="download">
                    </a>
                    {# TODO: finish this notification part #}
                    {# {% with campaign_id=campaign.campaign_id %} #}
                    {# <a class="action_button_green" href="{% url 'notifications' %}?campaign_id={{ campaign.campaign_id }}">{{ notifications.campaign_id|length }}</a> #}
                    {# {% endwith %} #}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a id="add_campaign_button" href="{% url 'campaign-editor' %}">Create a new campaign</a>

    <script>
        {# for handling campaign row clicks #}
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });

        function deleteCampaignClick(clicked_id) {
            if (confirm("This will delete your campaign and all its data. Proceed?") && confirm("Double check. Are you sure?"))
                window.location.href = document.getElementById(clicked_id).dataset.href;
        }
    </script>

    <style>
        table {
            color: #333;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        {#transition: all 0.3s; /* Simple transition for hover effect */#}
        }

        th {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
        }

        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        tr:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        #add_campaign_button {
            background: #2ecc71;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            float: right;
            font-weight: 800;
            font-size: larger;
            cursor: pointer;
            text-decoration: none;
        {#transition: all 0.3s;#}
        }

        #add_campaign_button:hover {
            background: #666;
            color: #FFF;
        }

        a{
            text-decoration: none;
        }

        img.action_button_green {
            background: #2ecc71;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        img.action_button_red {
            background: orangered;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        img.action_button_green:hover, img.action_button_red:hover {
            background: #4285F4;
            color: black;
        }
    </style>
{% endblock %}